.analytics-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.chart-container {
  width: 100%;
  max-width: 1000px; /* Adjust the max-width as needed */
  height: 500px; /* Adjust the height as needed */
  margin-bottom: 20px; /* Add some space between charts */
}

.analytics-info {
  text-align: center;
  margin-top: 20px;
}

.analytics-info h3 {
  margin: 10px 0;
}

.analytics-info p {
  font-size: 1.2em;
  color: #333;
}