.back-arrow {
  position: fixed;
  left: 20px;
  padding: 10px 20px;
  background-color: steelblue;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  z-index: 1000;
}

/* Default: top-left */
.back-arrow.top {
  top: 20px;
}

/* Home only: middle-left */
.back-arrow.bottom {
  visibility: hidden;
}

.back-arrow:hover {
  background-color: #385972;
  transform: scale(1.05);
}
.back-arrow404:hover{

  background-color: #385972;
  transform: scale(1.05);
}
.back-arrow404{
 
  justify-content: center;
  top: 20px;
  left: 20px;
  padding: 10px 20px;
  background-color: steelblue;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  z-index: 1000;
  transition: all 0.3s ease;
}
.back-arrow404span{
  color: maroon;
  font-weight: bolder;
  font-size: larger;
}
