nav li {
    display: inline;
    margin: 20px;
}

nav ul { 
    list-style-type: none;
}

nav li a { 
    text-decoration: none;
    color: steelblue;
    font-weight: bold;
}

a:hover {
    transition: ease-in-out;
    color: gray;
}

nav {
    position: relative; /* Change to fixed to keep it at the top */
    top: 10px; /* Align to the top of the page */
    width: 100%; /* Make it span the full width */
    padding: 10px 0; /* Add some padding */
   z-index: 100;
}